<section class="home-page">
  <div class="home-page__backdrop">
    <img
      class="home-page__image home-page__image--left"
      src="images/background-image.JPG"
      [alt]="content().leftImageAlt"
    />
    <img
      class="home-page__image home-page__image--right"
      src="images/background-image-alt.JPG"
      [alt]="content().rightImageAlt"
    />
  </div>

  <div
    class="home-page__glow"
    aria-hidden="true"
  ></div>

  <div class="home-page__content">
    <div class="home-page__text">
      <h1 class="home-page__title">
        <span>{{ content().titleStart }}</span>
        <span class="home-page__title-accent">{{ content().titleAccent }}</span>
      </h1>

      <div
        class="home-page__divider"
        aria-hidden="true"
      ></div>

      <p class="home-page__description">{{ content().description }}</p>
    </div>

    <div class="home-page__features">
      @for (feature of content().features; track feature.label) {
        <article class="home-page__feature">
          <div
            class="home-page__feature-icon"
            [attr.data-icon]="feature.icon"
          >
            @if (feature.icon === 'tooth') {
              <i
                class="fa-solid fa-tooth"
                aria-hidden="true"
              ></i>
            }

            @if (feature.icon === 'shield') {
              <i
                class="fa-solid fa-shield-halved"
                aria-hidden="true"
              ></i>
            }

            @if (feature.icon === 'technology') {
              <i
                class="fa-solid fa-microchip"
                aria-hidden="true"
              ></i>
            }

            @if (feature.icon === 'heart') {
              <i
                class="fa-solid fa-heart"
                aria-hidden="true"
              ></i>
            }
          </div>

          <p>{{ feature.label }}</p>
        </article>
      }
    </div>

    <mia-badge
      [content]="content().address"
      [icon]="'fa-tooth'"
    ></mia-badge>
    <mia-badge
      [content]="content().email"
      [icon]="'fa-envelope'"
    ></mia-badge>
    <mia-badge
      [content]="content().phone"
      [icon]="'fa-phone'"
    ></mia-badge>
  </div>

  <mia-wave-component></mia-wave-component>
</section>
