<section class="home-page">
  <div class="home-page__content">
    <img
      class="home-page__image"
      src="images/background-image.JPG"
      alt=""
      aria-hidden="true"
    />
    <div class="home-page__text">
      <h1>Нека се погрижим за вашите зъби!</h1>
      <h4>Модерна, комфортна и персонализирана грижа за вашите зъби, поднесена с топлота!</h4>
    </div>
    <img
      class="home-page__image"
      src="images/background-image-alt.JPG"
      alt=""
      aria-hidden="true"
    />
  </div>
</section>
