<section class="home-page">
  <div class="home-page__backdrop">
    <img
      class="home-page__image home-page__image--left"
      src="images/background-image.JPG"
      [alt]="content().leftImageAlt"
    />
    <img
      class="home-page__image home-page__image--right"
      src="images/background-image-alt.JPG"
      [alt]="content().rightImageAlt"
    />
  </div>

  <div
    class="home-page__glow"
    aria-hidden="true"
  ></div>

  <div class="home-page__content">
    <div class="home-page__text">
      <h1 class="home-page__title">
        <span>{{ content().titleStart }}</span>
        <span class="home-page__title-accent">{{ content().titleAccent }}</span>
      </h1>

      <div
        class="home-page__divider"
        aria-hidden="true"
      ></div>

      <p class="home-page__description">{{ content().description }}</p>
    </div>

    <mia-feature-list [features]="content().features"></mia-feature-list>

    <mia-badge
      [content]="content().address"
      [icon]="'fa-tooth'"
    ></mia-badge>
    <mia-badge
      [content]="content().email"
      [icon]="'fa-envelope'"
    ></mia-badge>
    <mia-badge
      [content]="content().phone"
      [icon]="'fa-phone'"
    ></mia-badge>
  </div>

  <mia-wave-component></mia-wave-component>
</section>
