:host {
  display: flex;
  align-self: stretch;
}

.header-buttons-container {
  display: flex;
  gap: var(--spacing-sm);
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

