:host {
  display: block;
  height: 100%;
  flex: 10;
}

.body-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
