.navigation-link {
  height: 100%;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--font-color);
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
  font-weight: 500;

  transition:
    background-color 150ms ease-in-out,
    color 150ms ease-in-out,
    transform 150ms ease-in-out;
}

.navigation-link:hover {
  opacity: 0.85;
}

.navigation-link.active {
  color: var(--color-primary);
}
