.header-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  border: 1px solid black;
  flex: 1;
  padding-right: var(--spacing-sm);
  gap: var(--spacing-md);
}

.header-container > * {
  cursor: pointer;
}

.header-container > mia-page-navigation {
  justify-self: start;
  align-self: stretch;
  min-width: 0;
}

.header-container > mia-logo {
  justify-self: center;
}

.header-container > .button {
  justify-self: end;
  min-width: 0;
}
