.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  flex: 1;
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}
