@if (isBulgarian()) {
  <button
    class="button button-outline button-flag"
    (click)="translateToEnglish()"
    aria-label="Switch to English"
    title="Switch to English"
  >
    <mia-english-flag />
    <span class="flag-text">{{ 'common.translateToEnglish' | translate }}</span>
  </button>
}
@if (isEnglish()) {
  <button
    class="button button-outline button-flag"
    (click)="translateToBulgarian()"
    aria-label="Switch to Bulgarian"
    title="Switch to Bulgarian"
  >
    <mia-bulgarian-flag />
    <span class="flag-text">{{ 'common.translateToBulgarian' | translate }}</span>
  </button>
}
