.header-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;

  transition:
    opacity 150ms ease-in-out,
    transform 150ms ease-in-out;
}

.header-logo-link:hover {
  transform: scale(1.02);
}

.header-logo-link:active {
  transform: scale(1);
}

.header-logo-image {
  width: 220px;
  height: 110px;

  object-fit: contain;
  flex-shrink: 0;

  user-select: none;
}
